.App{
  text-align: center;
  padding: 10px;
}

.play{
  position: absolute;
  width: 100%;
}
.main{
  background-color: rgb(233, 224, 212);
  display: flex;
  justify-content: center;
  height: 35vh;
  width: 35vh;
  border-radius: 90%;
  opacity: 0.3;
  animation: rate 3s infinite ease-in-out;
}
@keyframes rate {
  0%{
    background-color: rgb(255, 255, 255);
  }
  100%{
    background-color: rgb(233, 224, 212);
  }
}
.main3{
  background-color: rgb(233, 224, 212);
  display: flex;
  justify-content: center;
  height: 35vh;
  width: 35vh;
  border-radius: 90%;
  opacity: 0.3;
  top: 0;
  position: absolute;
  margin-left: 60%;
  animation: rate 5s infinite ease-in-out;
}
.main1{
  background-color: rgb(233, 224, 212);
  display: flex;
  justify-content: center;
  height: 35vh;
  width: 35vh;
  border-radius: 90%;
  opacity: 0.3;
  margin-left: 30%;
  animation: rate 3s infinite ease-in-out;
}
.main2{
  background-color: rgb(233, 224, 212);
  display: flex;
  justify-content: center;
  height: 35vh;
  width: 35vh;
  border-radius: 90%;
  opacity: 0.3;
  animation: rate 2s infinite ease-in-out;
}
.main4{
  background-color: rgb(233, 224, 212);
  display: flex;
  justify-content: center;
  height: 35vh;
  width: 35vh;
  border-radius: 90%;
  opacity: 0.3;
  top: 50%;
  position: absolute;
  margin-left: 80%;
  animation: rate 3s infinite ease-in-out;
}
.main5{
  position: absolute;
  background-color: rgb(233, 224, 212);
  display: flex;
  justify-content: center;
  height: 35vh;
  width: 35vh;
  border-radius: 90%;
  opacity: 0.3;
  top: 65%;
  margin-left: 50%;
  animation: rate 4s infinite ease-in-out;
}
.mart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4%;
  border: black solid 1px;
}

fieldset{
  padding: 10%;
}