.App{
  text-align: center;
  padding: 10px;
  height: 100vh;
}

.play{
  position: absolute;
  width: 90%;
}
.main{
  background-color: rgb(233, 224, 212);
  display: flex;
  justify-content: center;
  height: 35vh;
  width: 35vh;
  border-radius: 90%;
  opacity: 0.3;
  animation: rate 3s infinite ease-in-out;
}
@keyframes rate {
  0%{
    background-color: rgb(255, 255, 255);
  }
  100%{
    background-color: rgb(233, 224, 212);
  }
}
.main3{
  background-color: rgb(233, 224, 212);
  display: flex;
  justify-content: center;
  height: 35vh;
  width: 35vh;
  border-radius: 90%;
  opacity: 0.3;
  top: 0;
  position: absolute;
  margin-left: 60%;
  animation: rate 5s infinite ease-in-out;
}
.main1{
  background-color: rgb(233, 224, 212);
  display: flex;
  justify-content: center;
  height: 35vh;
  width: 35vh;
  border-radius: 90%;
  opacity: 0.3;
  margin-left: 30%;
  animation: rate 3s infinite ease-in-out;
}
.main2{
  background-color: rgb(233, 224, 212);
  display: flex;
  justify-content: center;
  height: 35vh;
  width: 35vh;
  border-radius: 90%;
  opacity: 0.3;
  animation: rate 2s infinite ease-in-out;
}
.main4{
  background-color: rgb(233, 224, 212);
  display: flex;
  justify-content: center;
  height: 35vh;
  width: 35vh;
  border-radius: 90%;
  opacity: 0.3;
  top: 50%;
  position: absolute;
  margin-left: 80%;
  animation: rate 3s infinite ease-in-out;
}
.main5{
  position: absolute;
  background-color: rgb(233, 224, 212);
  display: flex;
  justify-content: center;
  height: 35vh;
  width: 35vh;
  border-radius: 90%;
  opacity: 0.3;
  top: 65%;
  margin-left: 50%;
  animation: rate 4s infinite ease-in-out;
}
.mart{
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  transition: transform 0.2s;
  width: 500px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  position: absolute;
  left: 35%;
  bottom: 19%;
}

h1 {
  font-size: x-large;
  text-align: center;
  color: #327c35;
}

fieldset {
  border: none;
}

input {
  display: block;
  width: 100%;
  /* margin-bottom: 15px; */
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 12px;
}
input[type="radio"],
input[type="checkbox"] {
  display: inline;
  width: 10%;
}
select {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

label {
  font-size: 15px;
  display: block;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 5px;
  text-align: left;
  color: #555;
  font-weight: bold;
}

button {
  padding: 15px;
  border-radius: 10px;
  margin: 15px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #4caf50;
  width: 40%;
  font-size: 16px;
}
textarea {
  resize: none;
  width: 98%;
  min-height: 100px;
  max-height: 150px;
}
.output{
  margin-left: 10%;
  position: absolute;
}